header .nav {
    margin-top: .5rem;
    margin-bottom: 1.25rem;
}

header .nav-link {
    margin: 1.75rem 1rem;
    color: #333;
    position: relative;
}

header .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2b94d7;
}

header .nav-link.active, header .nav-link:hover {
    color: #2b94d7;
}

header .logo {
    margin-right: 3rem;
}

header .nav-link {
    margin: 0 1rem;
}