body {
    min-width: 1230px;
}

header .nav {
    margin-top: .5rem;
    margin-bottom: 1.25rem;
}

header .nav-link {
    margin: 1.75rem 1rem;
    color: #333;
    position: relative;
}

header .nav-link.active:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #2b94d7;
}

header .nav-link.active,
header .nav-link:hover {
    color: #2b94d7;
}

header .logo {
    margin-right: 3rem;
}

header .nav-link {
    margin: 0 1rem;
}

.container {
    width: 1230px !important;
    max-width: inherit !important;
}

.banner {
    width: 100%;
    background: no-repeat center;
    background-size: cover;
    height: 400px;
}

.btn-more {
    padding: 10px 28px;
    border: 1px solid #b5b5b5;
    color: #888;
    font-size: 12px;
    display: inline-block;
    transition: all .3s;
}

.btn-more:hover {
    text-decoration: none;
    color: #fff;
    border-color: #2b94d7;
    background-color: #2b94d7;
}

/* footer */
footer {
    background-color: #272727;
    color: #6a6b6b;
}

footer .container {
    height: 40px;
}

/* navigate */
.navigate {
    border-bottom: 1px solid #ddd;
    height: 60px;
    padding-left: 2rem;
}

.navigate-item {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding: 0 1em;
    position: relative;
}

.navigate-item + .navigate-item {
    margin-left: 30px;
}

.navigate-item.active {
    color: #2b94d7;
}

.navigate-item.active:after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    bottom: -20px;
    left: 0;
    background-color: #2b94d7;
}

.navigate-item:hover {
    text-decoration: none;
    color: #2b94d7;
}

.navigate .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background: none;
    align-items: center;
    font-size: 14px;
}

.navigate .breadcrumb-item a {
    color: #2b94d7;
}

.navigate .breadcrumb-item a:hover {
    text-decoration: none;
}

.navigate .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #888;
}

.navigate .breadcrumb-item.active {
    color: #888;
}

.page-container {
    margin: 75px 0 125px;
}

.page-container .pagination {
    margin-top: 145px;
    margin-bottom: 200px;
}

/* pagination */
.page-item {
    margin: 0 14px;
}

.page-link {
    color: #2b94d7;
    width: 44px;
    height: 44px;
    line-height: 42px;
    padding: 0;
    text-align: center;
}

.page-link:hover {
    color: #2b94d7;
}

.page-item.active .page-link {
    background-color: #2b94d7;
    border-color: #2b94d7;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 0;
}

.team-list .team-list_item {
    width: 50%;
    margin-bottom: 25px;
}

.team-list .team-content {
    margin-top: 25px;
}

.team-list .team-list_item:nth-child(2n+1) {
    padding-right: 40px;
}

.team-list .team-list_item:nth-child(2n) {
    padding: 0 20px;
}

.team-list .team-name {
    color: #666;
}

.team-list .team-title, .team-list .team-desc {
    color: #999;
}

.team-list .team-list_item:hover .team-name,
.team-list .team-list_item:hover .team-title,
.team-list .team-list_item:hover .team-desc {
    color: #2b94d7;
}

.team-list .team-img {
    width: 187px;
    height: 216px;
    background: center no-repeat;
    background-size: cover;
    margin-right: 2rem;
}

.team-list .team-list_item:hover .team-img {
    box-shadow: 3px 0 13px 3px rgba(162, 162, 162, .35);
}

.cer-list {
    flex-wrap: wrap;
}

.cer-list .cer-list_item {
    margin-right: 31.5px;
    margin-bottom: 2rem;
}

.cer-list .cer-list_item:nth-child(3n) {
    margin-right: 0;
}

.cer-list .cer-img {
    width: 379px;
    height: 273px;
    border: 1px solid #c0c0c0;
    padding: 14px 20px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.cer-list .cer-list_item img {
    max-width: 100%;
    max-height: 100%;
}

.cer-list .cer-title {
    text-align: center;
    font-size: 14px;
    color: #444;
    margin-top: 1rem;
}

/* news */
.news-container .news-item {
    margin-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid #f1f1f1;
}

.news-container .news-item:hover .new-title{
    color: #2b94d7;
}

.news-container .new-img {
    width: 264px;
    height: 198px;
    background: center no-repeat;
    background-size: cover;
}

.news-container .new-time {
    margin: 0 25px;
}

.news-container .new-date {
    font-size: 36px;
    color: #2b94d7;
    margin-top: 1.5rem;
}

.news-container .news-item .btn-more:hover {
    background-color: #2b94d7;
    color: #fff;
    border-color: #2b94d7;
}

/* example */
.example-list {
    flex-wrap: wrap;
}

.example-list .example-list_item {
    margin-right: 24px;
    margin-bottom: 40px;
}

.example-list .example-list_item:hover {
    text-decoration: none;
}

.example-list .example-list_item:nth-child(3n) {
    margin-right: 0;
}

.example-list .example-img {
    position: relative;
    width: 384px;
    height: 278px;
    background: center no-repeat;
    background-size: cover;
}

.example-list .example-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .41);
    opacity: 0;
    transition: opacity .3s;
}

.example-list .example-img:after {
    content: "+";
    color: #2b94d7;
    position: absolute;
    top: 15px;
    right: 20px;
    bottom: 15px;
    left: 20px;
    border: 1px solid #2b94d7;
    text-align: right;
    font-size: 43px;
    font-weight: lighter;
    line-height: 1em;
    padding-right: 15px;
    padding-top: 10px;
    opacity: 0;
    transition: opacity .3s;
}

.example-list .example-list_item:hover .example-img:after,
.example-list .example-list_item:hover .example-img:before {
    opacity: 1;
}

.example-list .example-title {
    text-align: center;
    color: #444;
    margin-top: 20px;
}

.example-list .example-list_item:hover .example-title {
    color: #2b94d7;
}

/* product */
.product-list {
    flex-wrap: wrap;
}

.product-list .product-img {
    position: relative;
    width: 386px;
    height: 256px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background-color: #ededef;
    padding: 35px 40px;
}

.product-list .product-list_item {
    margin-right: 21px;
    margin-bottom: 21px;
    position: relative;
}

.product-list .product-list_item:nth-child(3n) {
    margin-right: 0;
}

.product-list .product-list_item img {
    max-width: 100%;
    max-height: 100%;
}

.product-list .product-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .29);
    opacity: 0;
    transition: opacity .3s;
}

.product-list .product-img:after {
    content: "+";
    color: #2b94d7;
    position: absolute;
    top: 15px;
    right: 20px;
    bottom: 15px;
    left: 20px;
    border: 2px solid #2b94d7;
    font-size: 44px;
    opacity: 0;
    transition: opacity .3s;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.product-list .product-img:hover:after,
.product-list .product-img:hover:before {
    opacity: 1;
}

.product-list .product-list_item .product-info {
    position: absolute;
    color: #fff;
    top: 35px;
    right: 38px;
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
}

.product-list .product-list_item:hover .product-info {
    opacity: 1;
}

.product-list .product-list_item .product-subtitle {
    font-size: 14px;
}

/* product detail */
.product-detail .product-title {
    font-size: 36px;
    color: #333;
    text-align: center;
}

.product-detail .product-info {
    margin: 28px 0 60px;
    color: #888;
    font-size: 14px;
}

/* team detail */
.team-detail .team-img {
    width: 315px;
    height: auto;
    margin-right: 76px;
}

.team-detail .team-name {
    font-size: 19px;
    color: #444;
    margin-bottom: 5px;
}

.team-detail .team-content_desc {
    padding-bottom: 2rem;
    border-bottom: 1px solid #efefef;
}

.team-detail .team-content_title {
    font-size: 16px;
    margin: 25px 0 35px;
}

/* list footer */
.list-back {
    border-top: 1px solid #eee;
    text-align: right;
    padding-top: 25px;
}

.list-back .list-back-page {
    text-align: left;
}

.list-back .list-back-page a {
    display: block;
    border: none;
}

.list-back .list-back-page a.disabled:hover {
    color: #666;
}

.list-back .list-back-page a:hover {
    background: none;
    color: #2b94d7;
}

.list-back a {
    font-size: 14px;
    border: 1px solid #dedede;
    color: #666;
    padding: 6px .5em;
    display: inline-block;
}

.list-back a:hover {
    text-decoration: none;
    background-color: #2b94d7;
    border-color: #2b94d7;
    color: #fff;
}

/* contact form*/
.contact-form-container {
    margin: 100px auto 0;
    width: 614px;
}

.contact-form-container .form-item {
    display: flex;
    margin-bottom: 28px;
}

.contact-form-container input {
    width: 100%;
}

.contact-form-container label {
    width: 100px;
    margin-bottom: 0;
    padding: .5rem 0;
    color: #888;
    font-size: 14px;
    line-height: calc(16px * 1.5);
}

.contact-form-container textarea {
    width: 100%;
    resize: none;
    height: 7rem;
}

.contact-form-container input,
.contact-form-container textarea {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: .5rem;
}

.contact-form-container label.required:after {
    content: " *";
    color: #d74040;
}

.contact-form-container .form-code {
    align-items: center;
}

.contact-form-container .form-code img {
    height: 40px;
    margin-right: 26px;
}

.contact-form-container .form-code a {
    color: #db5353;
    text-decoration: underline;
}

.contact-form-container .form-code a:hover {
    color: #db5353;
}

.contact-form-container .form-btn-area {
    margin-top: 56px;
    padding-left: 100px;
}

.contact-form-container .form-btn-area button {
    width: 134px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    background-color: #2b94d7;
    border: none;
}

.contact-form-container .form-btn-area button + button {
    margin-left: 38px;
}

.contact-form-container .form-btn-area button[type=reset] {
    background-color: #bcbcbc;
}

.contact-area {
    padding: 0 70px;
}

.contact-area > div {
    padding: 0 30px;
}