body {
    min-width: 1200px;
}

.container {
    width: 1200px !important;
    max-width: inherit !important;
}

.banner {
    width: 100%;
    background: no-repeat center;
    background-size: cover;
}

.btn-more {
    padding: 10px 28px;
    border: 1px solid #b5b5b5;
    color: #888;
    font-size: 12px;
    display: inline-block;
}

.btn-more:hover {
    text-decoration: none;
    color: #2b94d7;
    border-color: #2b94d7;
}


footer{
    background-color: #272727;
    color: #6a6b6b;
}

footer .container{
    height: 40px;
}