body {
    min-width: 1200px;
}

.container {
    width: 1200px !important;
    max-width: inherit !important;
}

.banner {
    width: 100%;
    background: no-repeat center;
    background-size: cover;
    height: 400px;
}

.btn-more {
    padding: 10px 28px;
    border: 1px solid #b5b5b5;
    color: #888;
    font-size: 12px;
    display: inline-block;
    transition: all .3s;
}

.btn-more:hover {
    text-decoration: none;
    color: #fff;
    border-color: #2b94d7;
    background-color: #2b94d7;
}

/* footer */

footer {
    background-color: #272727;
    color: #6a6b6b;
}

footer .container {
    height: 40px;
}

/* navigate */

.navigate {
    border-bottom: 1px solid #ddd;
    height: 60px;
    padding-left: 2rem;
}

.navigate-item {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding: 0 1em;
    position: relative;
}

.navigate-item + .navigate-item {
    margin-left: 30px;
}

.navigate-item.active {
    color: #2b94d7;

}

.navigate-item.active:after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    bottom: -20px;
    left: 0;
    background-color: #2b94d7;
}

.navigate-item:hover {
    text-decoration: none;
    color: #2b94d7;
}

.navigate .breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background: none;
    align-items: center;
    font-size: 14px;
}

.navigate .breadcrumb-item a {
    color: #2b94d7;
}

.navigate .breadcrumb-item a:hover {
    text-decoration: none;
}

.navigate .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #888;
}

.navigate .breadcrumb-item.active {
    color: #888;
}

.page-container {
    margin: 75px 0 125px;
}

/* pagination */
.page-item {
    margin: 0 14px;
}

.page-link {
    color: #2b94d7;
    width: 44px;
    height: 44px;
    line-height: 42px;
    padding: 0;
    text-align: center;
}

.page-link:hover {
    color: #2b94d7;
}

.page-item.active .page-link {
    background-color: #2b94d7;
    border-color: #2b94d7;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 0;
}

.team-list .team-list_item {
    width: 50%;
    margin-bottom: 25px;
}

.team-list .team-content {
    margin-top: 25px;
}

.team-list .team-list_item:nth-child(2n+1) {
    padding-right: 40px;
}

.team-list .team-list_item:nth-child(2n) {
    padding: 0 20px;
}

.team-list .team-img {
    width: 187px;
    height: 216px;
    background: center no-repeat;
    background-size: cover;
    box-shadow: 3px 0 13px 3px rgba(162, 162, 162, .35);
    margin-right: 2rem;
}

.cer-list {
    flex-wrap: wrap;
}

.cer-list .cer-list_item {
    margin-right: 31.5px;
    margin-bottom: 2rem;
}

.cer-list .cer-list_item:nth-child(3n) {
    margin-right: 0;
}

.cer-list .cer-img {
    width: 379px;
    height: 273px;
    border: 1px solid #c0c0c0;
    padding: 14px 20px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;

}

.cer-list .cer-list_item img {
    max-width: 100%;
    max-height: 100%;
}

.cer-list .cer-title {
    text-align: center;
    font-size: 14px;
    color: #444;
    margin-top: 1rem;
}

/* team detail */

.team-detail .team-img {
    width: 315px;
    height: auto;
    margin-right: 76px;
}

.team-detail .team-name {
    font-size: 19px;
    color: #444;
    margin-bottom: 5px;
}

.team-detail .team-content_desc {
    padding-bottom: 2rem;
    border-bottom: 1px solid #efefef;
}

.team-detail .team-content_title {
    font-size: 16px;
    margin: 25px 0 35px;
}

/* list footer */

.list-back {
    border-top: 1px solid #eee;
    text-align: right;
    padding-top: 25px;
}

.list-back a {
    font-size: 14px;
    border: 1px solid #dedede;
    color: #666;
    padding: 6px .5em;
    display: inline-block;
}

.list-back a:hover {
    text-decoration: none;
    background-color: #2b94d7;
    border-color: #2b94d7;
    color: #fff;
}

/* contact form*/
.contact-form-container {
    margin: 100px auto 0;
    width: 614px;
}

.contact-form-container .form-item {
    display: flex;
    margin-bottom: 28px;
}

.contact-form-container input {
    width: 100%;
}

.contact-form-container label {
    width: 100px;
    margin-bottom: 0;
    padding: .5rem 0;
    color: #888;
    font-size: 14px;
    line-height: calc(16px * 1.5);
}

.contact-form-container textarea {
    width: 100%;
    resize: none;
    height: 7rem;
}

.contact-form-container input, .contact-form-container textarea {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: .5rem;
}

.contact-form-container label.required:after {
    content: " *";
    color: #d74040;
}

.contact-form-container .form-code {
    align-items: center;
}

.contact-form-container .form-code img {
    height: 40px;
    margin-right: 26px;
}

.contact-form-container .form-code a {
    color: #db5353;
    text-decoration: underline;
}

.contact-form-container .form-code a:hover {
    color: #db5353;
}

.contact-form-container .form-btn-area {
    margin-top: 56px;
    padding-left: 100px;
}

.contact-form-container .form-btn-area button {
    width: 134px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #fff;
    background-color: #2b94d7;
    border: none;
}
.contact-form-container .form-btn-area button + button{
    margin-left: 38px;
}
.contact-form-container .form-btn-area button[type=reset] {
    background-color: #bcbcbc;
}

.contact-area{
    padding: 0 70px;
}
.contact-area > div{
    padding:  0 30px;
}